# Django
django>=1.7.1,<1.8.0

# Django 3rd Party
django-storages==1.1.8
boto==2.34.0

# Images
Pillow==2.6.1

# Database
psycopg2==2.5.4

# Timezone support
pytz==2014.10

# Configuration
env-excavator==1.2.0
